<script type="text/javascript">
  $(document).ready(function () {
      $("#btn").click(function () {
          $("#Create").toggle();
      });
  });
</script>
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contain {
    display: flex;
  }
  .recent_post{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .all_blogs{
    width: 50%;
    padding: 0px 11px;

  }
  .category_tags{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog-card-body {
    width: 500px !important;
  }
  .tag-card {
    width: 250px !important;
  }
  .button-circle{
    line-height: 1.7em;
    border-radius: 50px;
    }
</style>
<div class="contain">
  <div class = "recent_post">
    <div class="col-md-12">
      <div class="card w-50 p-3">
        <div class="card-header">
          <h4>Recent Post</span></h4>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <% @blogs.last(3).each do |blog|%>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= link_to blog.title, blog, class:'link'%>
            <%end%>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class = "all_blogs">
    <strong><%= params[:controller].capitalize%></strong>
    <strong><%= params[:action].capitalize%></strong>
    <% @blogs.each do |blog| %>
      <div class="card mb-3 ">
        <div class="img-card col col-md-4 col-sm-12">
          <% if blog.images.present?%>
            <%= image_tag blog.images.first, class:"blog-img" ,width:"500px"%> 
          <%end%>
        </div>
        <div class="card-body blog-card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><small>Created by : <%= blog.user.email %>  at : <%= time_ago_in_words(blog.created_at, include_seconds: true) %></small></p>
          <p class="card-text"><%= blog.body %></p>
          <p class="lead"><%= link_to 'Read More..', blog, class: "btn btn-primary read-btn"%></p>
          <% if user_signed_in? && blog.user_id == current_user.id %>
            <%= link_to 'Edit', edit_blog_path(blog), class: "link" %> | 
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
          <% end %>
          <div class="card">
            <div>
              <input type="button" id="btn" class="btn btn-outline-primary" value="<%=blog.likes.count%> Likes">
            </div>

            <div id="Create" style="display:none">
              <% blog.likes.each do |l| %>
                <p><%= l.user.email %> </p>
              <% end %>
            </div>
            <% like = current_user.likes.find_by(blog: blog) %>
            <% if like.nil? %>
              <%= button_to "Like",likes_path,params:{like:{blog_id: blog.id}},method: :post%>
            <% else %>
              <%= button_to "Unlike",like_path(like),method: :delete %>
            <% end %>
          </div>
          <div class="card">
            <p>Total Comments :
            <%= blog.comments.count%>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class = "category_tags">
    <%# categories %>
    <div class="card w-50 p-3">
      <div class="card-header d-flex justify-content-between">
        <h4>Categories</span></h4> 
        <%= link_to new_category_path ,:class => "text-light btn btn-success button-circle" do%>
            <i class="fa-solid fa-plus"></i>
        <%end%>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @categories.each do |category|%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to category.name, show_blogs_category_path(:category_id => category.id), class:'cat-link'%>
              <span class="badge badge-primary rounded-pill" ><%= category.blogs.count%></span>
            </li>
          <%end%>
        </ul>
        <%= link_to 'Add New Category', new_category_path, class: 'btn btn-outline-info'%>
      </div>
    </div>
    <%# Tags %>
    <div class="card w-50 p-3 tag-card">
      <div class="card-header">
        <h4>Tags</span></h4>
      </div>
      <div class="card-body">
          <% @tags.each do |tag|%>
            <%= link_to tag.name, show_blogs_tag_path(:tag_id => tag.id), class:"badge badge-secondary"%>
          <%end%>
      </div>
    </div>
  </div>
</div>
