<div class="row">
  <div class="col-md-9">
    <% @blogs.each do |blog| %>
      <div class="my_card card">
        <div class="img-card col-md-4">
        <% if blog.images.present?%>
          <%= image_tag blog.images.first, class:"blog-img" ,width:"200px"%> 
          <%end%>
        </div>
        <div class="card-body col-md-8">
          <h3 class="card-title"><%= blog.title %></h3>
          <p class="card-text"><%= blog.body %></p>
          <p class="lead"><%= link_to 'Read More..', blog, class: "btn btn-primary read-btn"%></p>
          <% if user_signed_in? && blog.user_id == current_user.id %>
            <%= link_to 'Edit', edit_blog_path(blog), class: "link" %> | 
            <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'Write a Blog', new_blog_path, class: 'btn btn-info new-blog' %>
    <% else %>
      <h4 class="card" style="text-align:center;">For Writing a new blog post pls login first..</h4>
    <% end %>
  </div>
  <%# Category %>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h4>Categories</span></h4>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @categories.each do |category|%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to category.name, show_blogs_category_path(:category_id => category.id), class:'cat-link'%>
              <span class="badge g-primary rounded-pill" ><%= category.blogs.count%></span>
            </li>
          <%end%>
        </ul>
      </div>
  </div>
  <%# Recent %>
  <br>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4>Recent Post</span></h4>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% @blogs.last(3).each do |blog|%>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to blog.title, blog, class:'link'%>
          <%end%>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
  <%# Add Category %>
  <br>
  <div class="card">
    <div class="card-header">
      <h4>Add Category</span></h4>
    </div>
    <% if user_signed_in? %>
    <div class="card-body">
      <%= link_to 'Click here', categories_path, class: 'btn btn-outline-info'%>
    </div>
    <% else %>
    <div class="card-body">
      Sign in First
      </div>
    <% end %>
  </div>
  <%# End of Categories %>

  </div>  
</div>